/* top display */
body {
    background-color: #f1f3f4;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 10px 50px; */
}

h1 {
    font-size: 50px;
    margin-top: 0;
}


/* now playing */
#playingDropdown, #queueDropdown {
    margin-left: 20px
}

#nowPlaying, #queuedList {
    /* display: none; */
    margin-bottom: 20px;
    border: 1px solid black;
}

#albumPic {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

#artistName, #trackName, #albumName {
    margin: 0px;
}

#albumName {
    margin-top: 10px;
}


/* queueList */
#queueList {
    flex-direction: column;
}

#queueList > button {
    background-color: white;
    border: none;
}

#queueList > button:hover {
    border-bottom: 1px solid black;
}

/* toggle */
.menu-flex {
    display: flex;
}

.menu-hide {
    display: none;
}



/* albums */
#disco {
    font-size: 20px;
    margin-top: 50px;
}

.disco-item {
    margin-bottom: 50px;
    border-top: 10px double #c1c2c3;
}

.info-container {
    display: grid;
    margin: 10px 0 0 50px;
    grid-template-columns: 1fr 2fr;
}

.info-container > img {
    height: 300px;
    width: 300px;
    /* border: 5px double black; */
}

.info-container > h3 {
    font-style: italic;
}

.track-container {
    margin: 20px 0 20px 50px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}

.t-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    border: none;
    background-color: inherit;
}

.t-row:hover {
    margin-bottom: 9px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.track-num {
    color: grey;
    justify-self: left;
}

.album-track {
    justify-self: left;
}

.track-time {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}










/* player */
.player {
    width: 100%;
    background-color: white;
    border-radius: 2px;
    
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    z-index: 0;
    /* overflow: hidden; */
    text-align: right;
    bottom: auto;
    height: auto;
    background-color: white;
    border-radius: 5px;
    /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
    transition: opacity 0.3s;
}

.hide {
    display:none;
}

/* media @ 1000px */