body {
    background-color: #25b6ff;
}

header {
    width: 100%;
    /* padding: 0 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    width:100%;
    font-size: 50px;
    margin-top: 0;
    letter-spacing: 50px;
    /* letter-spacing: calc(-10px + (100vw)); */
}

#nowPlaying {
    font-size: 30px;
    letter-spacing: 100px;
    padding-left: 10px;
    border-left: 5px solid cyan;
    margin-top: 0;

}

.player {
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    
}

#trackList {
    border-top: 2px solid black;
    
}

#trackList > span {
    display: flex;
    flex-direction: column;
}