body {
    background-color: #f1f3f4;
}

header {
    width: 100%;
    /* padding: 0 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    
    font-size: 50px;
    margin-top: 0;
}

#nowPlaying {
    font-size: 30px;
    letter-spacing: -1px;
    padding-left: 10px;
    border-left: 5px solid cyan;
    margin-top: 0;

}

#disco {
    font-size: 20px;
    margin-top: 50px;

}


.disco-item {
    display: grid;
    margin-left: 50px;
    grid-template-columns: 1fr 4fr;
}

.disco-item > img {
    
    border-bottom: 5px double black;
}

.disco-item > span {
    margin-left: 20px;
    font-size: 30px;
    font-family: cursive;
    align-self: center;
    border-left: 5px double black;
}

.album-track {
    display: block;
    padding-left: 15px;
    text-align-last: justify;
    width: 50%;
}

.album-track:first-child {
    border-top: 2  px double black;
}

.track-time {
    display: block;
    text-align: right;
    border-right: 5px double black;
    padding-right: 15px; 
}








.player {
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    
}

#trackList {
    margin: 0 250px;
    border: 10px outset grey;
    /* border-color: grey;
    border-style: groove; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dadada;
}

.track-select {
    font-size: 30px;
    border-radius: 15px;

    font-family: system-ui, serif;
    margin: 2px;
    padding: 25px 70px;
    border: none;
    color: white;
    /* mix-blend-mode: overlay; */
}

.track-select:hover {
    background-color: #0095e0;
    padding: 20px 65px;
    border: 5px solid #0351ff;
    border-style: inset;
    border-radius: 20px;

}

#selectedSong {
    background-color: hotpink;
    border-radius: 30px;
    padding: 15px 60px;
    border: 10px solid palevioletred;
    border-style: inset;
}



audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* We use flex-start here to ensure that the play button is visible even
     * if we are too small to show all controls.
     */
    justify-content: flex-start;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    text-align: right;
    bottom: auto;
    height: auto;
    background-color: transparent;
    border-radius: 5px;
    /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
    transition: opacity 0.3s;
}