
/*  */
/* Audio player */
/*  */
#player {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid white;
}
audio::-webkit-media-controls-panel {
    background-color: rgb(203 249 236);
}
audio::-webkit-media-controls-enclosure {
    border-radius: 0px;
}
audio::-webkit-media-controls-timeline-container {
    color:green;
    border: 1px solid black;
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    color:black;
    font-family: serif;
    padding: 0 3px;
    margin: auto;
}
audio::-webkit-media-controls-timeline {
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top:10px;
}

/*  */
/* Song info and Queue containers */
/*  */
#trackController {
    display: flex;
    height:200px;
    background-color:rgb(203 249 236);
    overflow: hidden;
}

#anotherPlayer {
    display: grid;
    width: 65%;
    grid-template-columns: 1fr 2fr 3fr;
    padding-left: 5px;
}

#qTools {
    display: flex;
    flex-direction: row;
    width: 35%;
    position: relative;
    overflow-y: scroll;
}


.option-buttons {
    width: 100%;
}


/*  */
/* Now playing container */
/*  */
#albumPic {
    height: 100px;
    width: 100px;
    margin: 10px;
}

#nowPlayingInfo {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    min-width: 115px;
}

#artistName, #trackName, #albumName {
    margin: 5px;
    border-bottom: 1px solid #9ebb00;
}

#artistName {
    font-size: 20px;
}
#trackName {
    font-style: oblique;
    font-weight: bold;
}
#albumName {
    color:rgb(78, 78, 78);
}


/*  */
/* Queue List Container */
/*  */
.queue-tip {
    color: grey;
    margin: 20px 5px 0 0;
}

.command {
    margin: 10px auto;
}

.command > span {
    position: absolute;
    z-index: 0;
    left: 200px;
    bottom: 25px;
    font-size: 30px;
    font-weight: 900;
    color: #cbf9ec;
    text-shadow: 0 0 69px powderblue;
    font-family: fantasy;
}

#queueList {
    flex-direction: column;
    width: 100%;
    z-index: 10;
}

#queueList > button {
    background-color: orange;
    border: none;
    border-left: 15px dotted #000000;
    cursor: pointer;
}
#queueList > button:first-child::before {
    content: " up next! ~~ ";
    font-weight: bold;
}

#queueList > button:hover {
    border-bottom: 2px solid #c1c2c3;
    border-top: 1px solid #c1c2c3;
}


/*  */
/* Play Pause Next Queue Buttons */
/*  */
.controlBtns {
    display: flex;
    justify-content: center;
}

.controlBtns > button, #toggleShowQueue {
    -webkit-appearance: none;
    padding: 15px;
    background-color: transparent;
    border: none;
}

.controlBtns > button:hover {
    color: pink;
}

#toggleShowQueue {
    background-color: darkorange;
    position: sticky;
    top: 0;
}

.glyphicon {
    font-size: 25px;
}

/* @media screen and (max-width: 1200px) {

} */