/* Head info */
#wellHeyThere {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 3vmin;
    font-family: serif;
    background-color: floralwhite;
    text-shadow: 0 2px 3px darkgrey;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*  */
/* Audio player */
/*  */
#player {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid white;
}
audio::-webkit-media-controls-panel {
    background-color: rgb(203 249 236);
}
audio::-webkit-media-controls-enclosure {
    border-radius: 0px;
}
audio::-webkit-media-controls-timeline-container {
    color:green;
    border: 1px solid black;
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    color:black;
    font-family: serif;
    padding: 0 3px;
    margin: auto;
}
audio::-webkit-media-controls-timeline {
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top:10px;
}


/*  */
/* Song info and Queue containers */
/*  */
#trackController {
    display: flex;
    height:200px;
    background-color:rgb(203 249 236);
    overflow: hidden;
}

#anotherPlayer {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 2fr 3fr;
    padding-left: 5px;
}

#qTools {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5px;
    overflow-y: scroll;
}


.option-buttons {
    width: 100%;
}


/*  */
/* Now playing container */
/*  */
#albumPic {
    height: 100px;
    width: 100px;
    margin: 10px;
}

#nowPlayingInfo {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

#artistName, #trackName, #albumName {
    margin: 5px;
    border-bottom: 1px solid #9ebb00;
}

#artistName {
    font-size: 20px;
}
#trackName {
    font-style: oblique;
    font-weight: bold;
}
#albumName {
    color:rgb(78, 78, 78);
}


/*  */
/* Queue List Container */
/*  */
.queue-tip {
    color: grey;
}

#queueList {
    flex-direction: column;
    width: 100%;
}

#queueList > button {
    background-color: orange;
    border: none;
    border-left: 15px dotted #000000;
    cursor: pointer;
}
#queueList > button:first-child::before {
    content: " up next! ~~ ";
    font-weight: bold;
}

#queueList > button:hover {
    border-bottom: 2px solid #c1c2c3;
    border-top: 1px solid #c1c2c3;
}


/*  */
/* Play Pause Next Queue Buttons */
/*  */
.controlBtns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 40px;
}

.controlBtns > button {
    padding: 10px;
    height: 60px;
    width: 60px;
    margin: auto;
}

#nextTrack {
    background-color: darkorange;
}

.glyphicon {
    font-size: 25px;
}

/*  */
/* Options */
/*  */
.opt-default {
    border: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid black;
    cursor: alias;
    font-family: sans-serif;
    background-color: red;
    width: 100%;
}

.opt-on {
    background-color: green;
}

#returnToTop {
    position: fixed;
    display: none;
    top: 0;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    background-color: #7fffd4b8;
}


/*  */
/* View Change Controllers */
/*  */
#controlers {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    background-color: aquamarine;
}

.view-button {
    letter-spacing: 5px;
    border: none;
    background-color: inherit;
    width:50%;
    border-left: 10px double #800808;
    border-right: 10px double #8e8e8e;
}


.curr-view {
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #fff;
}


/*  */
/* Album View */
/*  */
#disco {
    font-size: 20px;
    margin-top: 0px;
}

.disco-item {
    margin-bottom: 50px;
    border-top: 3px solid #c1c2c3;
}

.info-container {
    display: flex;
    margin: 10px 0 0 50px;
}

.info-container > img {
    height: 300px;
    width: 300px;
    margin-right: 15px;
}

.info-container > h3 {
    font-family: serif;
    margin: 5px 10px;
}

.info-container > p {
    font-size: 10px;;
    font-style: italic;

}

.track-container {
    margin: 20px 0 20px 50px;
    display: flex;
    flex-direction: column;
}

.t-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 10px;
    border: none;
    background-color: inherit;
    font-family: sans-serif;
    color: rgb(70, 70, 70);
    letter-spacing: -1px;
}

.t-row:hover {
    margin-bottom: 9px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.track-num {
    justify-self: left;
}

.album-track {
    justify-self: left;
}


/*  */
/* Song View */
/*  */
#headerRow {
    font-family: serif;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgb(78, 78, 78);
}

.song-list-row {
    display: grid;
    width: 100%;
    /* trkNum, trkName, trkLength, epName, artist, trackurl, ogfilename, date, time */
    grid-template-columns: .5fr 3fr .7fr 1fr 2fr 2fr 2fr 1fr 1fr;
    border: none;
}

.song-list-row > span {
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 2px 3px 0 0;
}

.song-list-row:nth-child(2n+1) {
    background-color: white;
}

/* header row */
.song-list-row:nth-child(1):hover {
    border: none;
    justify-self: center;
}
.song-list-row:nth-child(1) span:hover::after {
    content: "...Sort?"
}

.song-list-row:hover {
    border-bottom: 2px solid black;
}

.list-reverse::after {
    content: ":)";
}


/*  */
/* Queue modal */
/*  */
#qPrompt {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-cont {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    display: flex;
    flex-direction: column;
}

.modal-cont > button {
    width:75%;
    margin: auto;
}

#closeModal {
    background-color: red;
}

#modalDump {
    text-align: center;
    margin: 10px 0;
    font-family: serif;
    font-style: italic;
}


/* toggle show view and utilities */
.menu-flex {
    display: flex;
}

.menu-hide {
    display: none;
}

.hide {
    display: none;
}

/*  */
/* Media Events */
/*  */
@media screen and (max-width: 1000px) {
    .song-list-row {
        grid-template-columns: 3fr .7fr 1fr 1.5fr 2fr 2fr 1.5fr 1fr;
    }
    
    .song-list-row > span {
        font-size: 9px;
        padding: 2px;
        height: 30px;
        align-items: center;
        border-left: 1px solid white;
    }

    .song-list-row > span:nth-child(1) {
        display: none;
    }

    .song-list-row:hover {
        border:none;
        background-color: rgba(255, 105, 180, 0.212);
    }
    .song-list-row:nth-child(1):hover {
        justify-self: center;
    }
    .song-list-row:nth-child(1) span:hover::after {
        content: ""
    }
}

@media screen and (max-width: 900px) {
    .info-container > img {
        height: 150px;
        width: 150px;
    }
    #albumPic {
        height: 70px;
        width: 70px;
    }
    .info-container > h3 {
        margin: 5px;
    }
    .glyphicon {
        font-size: 20px;
    }
    #trackController {
        flex-direction: column;
    }
    #trackController > article {
        width: 100%;
        height: 45%;
    }
    .t-row {
        font-size: 12px;
    }
    .view-button {
        font-size: 12px;
    }
}

@media screen and (max-width: 750px) {
    .modal-cont {
        width: 80%;
        font-size: 10px;
    }

    .view-button {
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    .info-container > h3 {
        font-size: 1.8vmax;
        font-style: italic;
    }
    .info-container > p {
        /* font-size: 1.5vmax; */
        font-style: normal;
    }
    .info-container > h2 {
        font-size: 3vmax;
        writing-mode: vertical-rl;
        margin: 5px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 550px) {
    .info-container > h3 {
        font-size: 2vmax;
        font-style: italic;
        writing-mode: vertical-rl;
        
    }
    .controlBtns > button {
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width: 450px) {
    .info-container > p {
        font-size: 8px;
        margin: 10px;
        writing-mode: vertical-rl;
    }
    
    #nowPlayingInfo > * {
        font-size: 10px;
    }
}