
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*  */
/* Audio player */
/*  */
#player {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid white;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(203 249 236);
}
audio::-webkit-media-controls-enclosure {
    border-radius: 0px;
}
audio::-webkit-media-controls-timeline-container {
    color:green;
    border: 1px solid black;
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    color:black;
    font-family: serif;
    padding: 0 3px;
    margin: auto;
}
audio::-webkit-media-controls-timeline {
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top:10px;
}


/*  */
/* Song info and Queue container */
/*  */
#trackController {
    display: flex;
    height:200px;
    background-color:rgb(203 249 236);
    overflow: hidden;
}
/* #trackController > article {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-left: 5px;
    
    
} */

#anotherPlayer {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 2fr 3fr;
    padding-left: 5px;
}

#qTools {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5px;
    overflow-y: scroll;
}


.option-buttons {
    width: 100%;
}

/* Now playing */
#nowPlayingInfo {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 5px 20px;
}



#artistName, #trackName, #albumName {
    margin: 5px;
    border-bottom: 1px solid #9ebb00;
}

#artistName {
    font-size: 20px;
}

#trackName {
    font-style: oblique;
    font-weight: bold;
}

#albumName {
    color:rgb(78, 78, 78);
}

#albumPic {
    height: 100px;
    width: 100px;
    margin: 10px;
}

/* Queue List */
#queueList {
    flex-direction: column;
    width: 100%;
}

#queueList > button {
    background-color: orange;
    border: none;
    border-left: 15px dotted #000000;
    cursor: pointer;
}
#queueList > button:first-child::before {
    content: " up next! ~~ ";
    font-weight: bold;
}

#queueList > button:hover {
    border-bottom: 2px solid #c1c2c3;
    border-top: 1px solid #c1c2c3;
}


/* Play Pause Next Queue Buttons */
.controlBtns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 40px;
}

.controlBtns > button {
    padding: 10px;
    height: 50px;
    width: 50px;
    margin: auto;
}

#nextTrack {
    background-color: darkorange;
}

#returnToTop {
    position: fixed;
    display: none;
    top: 0;
    border: none;
    border-radius: 5px;
    color: white;
}

.glyphicon {
    font-size: 25px;
}


/* toggle queue */
.menu-flex {
    display: flex;
}

.menu-hide {
    display: none;
}

/* Options */
.opt-default {
    border: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid black;
    cursor: alias;
    font-family: sans-serif;
    background-color: red;
    width: 100%;
}

.opt-on {
    background-color: green;
}

/*  */
/* Album View */
/*  */
#disco {
    font-size: 20px;
    margin-top: 0px;
}

.disco-item {
    margin-bottom: 50px;
    border-top: 3px solid #c1c2c3;
}

.info-container {
    display: flex;
    margin: 10px 0 0 50px;
    /* grid-template-columns: 1fr 3fr; */
}

.info-container > img {
    height: 300px;
    width: 300px;
    margin-right: 15px;
}

.info-container > h2 {
    /* margin-left: 10px; */
}

.info-container > h3 {
    font-family: serif;
    margin: 5px;
}

.info-container > p {
    font-size: small;
    font-style: italic;

}

.track-container {
    margin: 20px 0 20px 50px;
    display: flex;
    flex-direction: column;
}

.t-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 10px;
    border: none;
    background-color: inherit;
    font-family: monospace;
    color: rgb(70, 70, 70);
    letter-spacing: -2px;
}

.t-row:hover {
    margin-bottom: 9px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.track-num {
    /* color: grey; */
    justify-self: left;
}

.album-track {
    justify-self: left;
}

.track-time {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}



/*  */
/* Song View */
/*  */
.song-list-row {
    display: grid;
    width: 100%;
    /* trkNum, trkName, trkLength, epName, artist, trackurl, ogfilename, date, time */
    grid-template-columns: .5fr 3fr .7fr 1fr 2fr 2fr 2fr 1fr 1fr;
}

.song-list-row > span {
    display: flex;
    justify-content: left;
    padding: 2px 3px 0 0;
}

#headerRow {
    font-family: serif;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgb(78, 78, 78);
}

.song-list-row:nth-child(2n+1) {
    background-color: white;
}

/* header row */
.song-list-row:nth-child(1):hover {
    border: none;
    justify-self: center;
}
.song-list-row:nth-child(1) span:hover::after {
    content: " -- Sort!"
}

.song-list-row:hover {
    /* padding: 0 3px; */
    border-bottom: 2px solid black;
}


/* view switch buttons */
#controlers {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    background-color: aquamarine;
}

.view-button {
    letter-spacing: 5px;
    border: none;
    background-color: inherit;
    width:50%;
    border-left: 10px double #800808;
    border-right: 10px double #8e8e8e;
}


.curr-view {
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #fff;
}


.hide {
    display:none;
}

/* @media screen and (max-width: 1300px) {
    .info-container > img {
        height: 200px;
        width: 200px;
    }
} */

@media screen and (max-width: 900px) {
    .info-container > img {
        height: 150px;
        width: 150px;
    }
    #albumPic {
        height: 70px;
        width: 70px;
    }
    .info-container > h3 {
        margin-right: 25px;
    }
    .glyphicon {
        font-size: 20px;
    }
    #trackController {
        flex-direction: column;
    }
    #trackController > article {
        width: 100%;
    }
    .t-row {
        font-size: 12px;
    }
}
/* 
@media screen and (max-width: 800px) {
    .info-container > h3 {
        margin-right: 25px;
    }
    .glyphicon {
        font-size: 20px;
    }
    #trackController {
        flex-direction: column;
    }
    #trackController > article {
        width: 100%;
    }
} */

@media screen and (max-width: 650px) {
    .info-container > h3 {
        font-size: 1.8vmax;
        font-style: italic;
    }
    .info-container > p {
        font-size: 1.5vmax;
        font-style: normal;
    }
    .info-container > h2 {
        font-size: 3vmax;
        writing-mode: vertical-rl;
        margin-top: 0;
    }
}

@media screen and (max-width: 550px) {
    .info-container > h3 {
        font-size: 2vmax;
        font-style: italic;
        writing-mode: vertical-rl;
    }
}

@media screen and (max-width: 450px) {
    .info-container > p {
        font-size: 1vmax;
        /* font-style: italic; */
        writing-mode: vertical-rl;
    }
    
    #nowPlayingInfo > * {
        font-size: 10px;
    }
}